@charset "utf-8";
@import 'https://fonts.googleapis.com/css?family=Playfair+Display:400,700i,900i';

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

// /*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
// Add pink and its invert
$gray-green: #283d3b;
$gray-green-invert: #edddd4;
$green-blue: #197278;
$clay: #c44536;
$brown: #772e25;
$green: #7ceaa4;
$purple: #265e05;

// Update the sans-serif font family
$family-sans-serif: 'Playfair Display';

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $gray-green;
$primary-invert: $gray-green-invert;
$secondary: $green-blue;
$tertiary: $brown;
$tertiary-light: $clay;
$box-background-color: $primary-invert;
$box-color: $primary;

.box {
    width: 25%;
    // background-color: $box-background-color;
}

.hero.is-primary .title {
    color: $secondary;
}

title-background {
    width: 25%;
    background-color: $primary-invert;
}

.box .title {
    color: $secondary;
}

section {
    z-index: 1;
}

.background {
    background-color: white;
    width: 110%;
    height: 110%;
    border-radius: 6px;
    z-index: 15;
}



* {
    box-sizing: border-box;
}

body{
    font-family: 'Playfair Display', serif;
    color: rgba(172, 170, 190, 1);
    text-rendering: optimizeLegibility;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $secondary;
    font-size: 14px;
    overflow: hidden
}

.wrap {
    perspective-origin: 50% 50%;
}

.page{
    margin: 3%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

.svg {
    stroke: $black;
    position: absolute;
    bottom: -50vh; // this controls where the svgs start spawning
    transform-style: preserve-3d;
}

$total: 12; // controls the total number of size variations
@for $i from 1 through $total {
  $scale:random(2) - .4;

  .svg:nth-child(#{$i}){
    left:random(120) * 1% - 20;
    animation: raise#{$i} 6 + random(15) +s linear infinite;
    animation-delay:random(5) - 5 + s;
    transform: scale(.03 * $i - .06) rotate(random(360) + deg);
    z-index: $i;
    filter: blur($i - 6 + px);

    @keyframes raise#{$i} {
      to{
       bottom:120vh;// helps control speed of dollar bills through screen
       transform: scale(.03 * $i - .06) rotate(random(360) + deg);
      }
    }
  }
}
// 4. Import the rest of Bulma

@import "../node_modules/bulma/bulma";
