@charset "utf-8";
@import 'https://fonts.googleapis.com/css?family=Playfair+Display:400,700i,900i';

//Override any bulma default code by writing variables before the import statement
// /*

h1.box{
    border: 3px solid rgba(172, 170, 190, 1);
    font-family: 'Catamaran', sans-serif;
}
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
// Add pink and its invert
$gray-green: #283d3b;
$gray-green-invert: #edddd4;
$off-white: #dae7e7;
$green-blue: #197278;
$clay: #c44536;
$brown: #772e25;
$green: #7ceaa4;
$green-hover: #54b879;
$purple: #52055e;
$pink: #f12eca;
$yellow: #f1ee37;

// Update the sans-serif font family
$family-sans-serif: 'Catamaran';

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $gray-green;
$primary-invert: $gray-green-invert;
$dark: $green-blue;
$tertiary: $brown;
$tertiary-light: $clay;
$box-background-color: $primary-invert;
$box-color: $primary;

.box {
    width: 350px;
    color: rgb(15, 63, 3)
}

.box1 {
  position: absolute;
  z-index: 20;
  background-color: red;
  top: 15%;
  left: 10px;
  width: 300px;
  background: #00bfb6;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  color: #fff;
  font-family: arial;
  border-radius: 5px;
}
.box2 {
  position: absolute;
  z-index: 20;
  background-color: red;
  top: 50%;
  right: 85px;
  width: 200px;
  height: 400px;
  background: #00bfb6;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  color: #fff;
  font-family: arial;
  border-radius: 5px;
}

.sb4:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #00bfb6;
  border-bottom: 10px solid transparent;
  right: 50px;
  top: 135px;
}

.sb5::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #00bfb6;
  border-bottom: 10px solid transparent;
  rotate: 90deg;
  right: 200px;
  top: 135px;
}

.fa-brands {
  margin-right: 10px;
}

.stripe-text {
    position: relative;
    $random-text: 'City Specs';
    $stroke-width: 5 * 0.05;
     font-size: 5px;
     text-transform: uppercase;
    font-weight: 900;
    font-family: 'Catamaran', sans-serif;
    font-style: italic;
    &:after {
      position: absolute;
      left: 20px;
      content: $random-text;
      $stripe-size: 20px;
      background: -webkit-repeating-linear-gradient(
        45deg,
        $primary,
        $primary $stripe-size,
        $primary-invert $stripe-size,
        $primary-invert $stripe-size * 2,
        $tertiary-light $stripe-size * 2,
        $tertiary-light $stripe-size * 3,
        $green $stripe-size * 3,
        $green $stripe-size * 4
      );
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      -webkit-text-stroke-width: $stroke-width;
      -webkit-text-stroke-color: white;
    }
  }

title-background {
    width: 25%;
    background-color: $primary-invert;
}

h1 {
    text-shadow: 2px 4px 4px rgba(46, 91, 173, 0.6);
}

.footer {
  position: absolute;
  bottom: 0;
  top: 800px;
  width: 100%;
  z-index: 0;
}

section {
    z-index: 1;
}

.background {
    background-color: white;
    width: 110%;
    height: 110%;
    border-radius: 5px;
    z-index: 15;
    box-shadow: 0 0.5em 1em 0.625em rgb(10 10 10 / 10%), 0 0px 0 1px rgb(10 10 10 / 2%);
}

#map {
  height: 450px;
  width: 900px;
  overflow: hidden !important
}


#modal-trigger {
  background: none;
}

* {
    box-sizing: border-box;
}

.property-img {
  height: 25%;
  width: 25%
}

body{
    font-family: 'Playfair Display', serif;
    color: rgba(172, 170, 190, 1);
    text-rendering: optimizeLegibility;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $primary-invert;
    font-size: 14px;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.wrap {
    perspective-origin: 50% 50%;
}

.page{
    margin: 3%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

.hero .container {
  flex-grow: 0;
}

.svg {
    stroke: $black;
    position: absolute;
    bottom: -50vh; // this controls where the svgs start spawning
    transform-style: preserve-3d;
}

@media (min-width: 1600px) {
  .section.is-large {
    min-height: 600px;
  }

  .box1 {
    top: 10%;
    left: 5%;
  }


}


@media (max-width: 1599px) {
  .section.is-large {
    min-height: 600px;
  }

  .box1 {
    top: 10%;
    left: 5%;
  }

  .box2 {
    position: absolute;
    top: 5%;
    right: 150px;
    width:400px;
    height: 200px;
    background: #00bfb6;
    padding: 20px;
    text-align: center;
    font-weight: 900;
    color: #fff;
    font-family: arial;
    border-radius: 5px
  }

  .sb5::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #00bfb6;
    border-bottom: 10px solid transparent;
    rotate: 0deg;
    right: 200px;
    top: 200px;
  }
}


.listing-info {
  background-color: $off-white
}

.scene {
  display: inline-block;
  width: 900px;
  height: auto;
/*   border: 1px solid #CCC; */
  margin: 40px 0;
  perspective: 600px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: relative;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}


.card__face--front {
  background: white;
}

.card__face--back {
  background: white;
  transform: rotateY(180deg);
}

#card-button {
  border: 0.0625rem solid $primary;
  border-radius: 5px;
  padding: 4mm 6mm;
  background-color: white;
  transition: 1s;
}

#card-button:hover {
  background-color: $off-white;
  color: red;
  cursor: pointer;
}

.info-window-img {
  max-width: 636px;
  max-height: 264px;
}



@media(min-width: 1865px) and (min-height: 1035px) {
  #polar-container {
    position: fixed;
    height: 425px;
    right: 8%;
    top: 27%;
    width: auto;
  }

  .scene {
    position: fixed;
    left: 5%;
    top: 22%;
  }

  #bar-chart {
    width: 1100px !important;
    height: 550px !important;
  }

  .background {
    width: 1100px !important;
  }

  .footer {
    top: 75%;
  }

  #map {
    height: 550px !important;
    width: 1100px !important;
  }

  #acquisitions {
    width: 550px !important;
    height: 550px !important;
  }

  #polar-container {
    height: 575px !important;
    width: 550px !important;
  }

  .box1 {
    top: 15%;
    position: fixed !important;
  }
  .box2 {
    top: 50%;
    right: 2%;
    position: fixed !important;
  }
}

#mobile-display {
  display: none;
}

@media only screen and (max-width : 720px) and (max-height : 1280px) {
  #mobile-display {
      display: block;
      z-index: 100;
      height: 100%;
      width: 100%;
      background-color: #0000008f;
      position: fixed;
      display: flex;
      justify-content: center;
  }

  #mobile-display-div {
      background-color: white;
      position: absolute;
      top: 30%;
      padding: 10px;
      border-radius: 5px;
  }
}
// 4. Import the rest of Bulma

@import "../node_modules/bulma/bulma";
