

     html {
        height:100%;
        background-color: red($color: #000000);
      }

      .moving-header {
        margin:0;
        height: 50px;
      }

      .bg-right { //controls the blue background
        animation:slide 9s ease-in-out infinite alternate;
        background-image: linear-gradient(-90deg, #f35b04 50%, #ede7e3 50%); // deg: controls the angle of the animation, percentage of green animation on screen, effects contrast of colors on screen
        bottom:0;
        left:-50%;
        opacity:.5;
        position:fixed;
        right:-50%;
        top:0;
        z-index:-1;
      }

      .bg-left { //controls the blue background
        animation:slide 9s ease-in-out infinite alternate;
        background-image: linear-gradient(90deg, #3d348b 50%, #ede7e3 50%); // deg: controls the angle of the animation, percentage of green animation on screen, effects contrast of colors on screen
        bottom:0;
        left:-100%;
        opacity:.5;
        position:fixed;
        right:0%;
        top:0;
        z-index:-1;
      }

      .bg2-right {
        animation-direction:alternate;
        animation-duration:12s;
      }
      .bg3-left {
        animation-direction: alternate-reverse;
        animation-duration: 12s;
      }

      .content {
        background-color:rgba(255,255,255, 1);
        z-index: 0;
        border-radius:.25em;
        box-shadow:0 0 .25em rgba(0,0,0,.25);
        box-sizing:border-box;
        left:50%;
        // padding:20vmin;
        height: 90%;
        width: 90%;
        position:fixed;
        text-align:center;
        top:50%;
        transform:translate(-50%, -50%);
      }

      h1 {
        font-family:monospace;
      }

      @keyframes slide {
        0% {
          transform:translateX(0%); // where the animation ends in the ui
        }
        100% {
          transform:translateX(25%); // where the animation starts in the ui
        }
      }
