
// body {
//     font-family: 'Share Tech', sans-serif;
//     font-size: 68px;
//     color: white;
//     display: flex;
//     jsutify-content: center;
//     align-items: center;
//     margin: 0;
//     width: 100vw;
//     height: 100vh;
//     text-shadow: 8px 8px 10px #0000008c;
//     background-color: #343a40;
//     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to right top, #525b63, #36417a, #1e2365, #170f87, #000000);
//     }


      html {
        height:100%;
      }

      body {
        margin:0;
      }

      .bg-right { //controls the blue background
        animation:slide 9s ease-in-out infinite alternate;
        background-image: linear-gradient(-90deg, #f35b04 50%, #ede7e3 50%); // deg: controls the angle of the animation, percentage of green animation on screen, effects contrast of colors on screen
        bottom:0;
        left:-50%;
        opacity:.5;
        position:fixed;
        right:-50%;
        top:0;
        z-index:-1;
      }

      .bg-left { //controls the blue background
        animation:slide 9s ease-in-out infinite alternate;
        background-image: linear-gradient(90deg, #3d348b 50%, #ede7e3 50%); // deg: controls the angle of the animation, percentage of green animation on screen, effects contrast of colors on screen
        bottom:0;
        left:-100%;
        opacity:.5;
        position:fixed;
        right:0%;
        top:0;
        z-index:-1;
      }

      .bg2-right {
        animation-direction:alternate;
        animation-duration:12s;
      }
      .bg3-left {
        animation-direction: alternate-reverse;
        animation-duration: 12s;
      }

    //   .bg3 {
    //     animation-duration:15s;
    //   }

      .content {
        background-color:rgba(255,255,255, 1);
        z-index: 0;
        border-radius:.25em;
        box-shadow:0 0 .25em rgba(0,0,0,.25);
        box-sizing:border-box;
        left:50%;
        // padding:20vmin;
        height: 90%;
        width: 90%;
        position:fixed;
        text-align:center;
        top:50%;
        transform:translate(-50%, -50%);
      }

      h1 {
        font-family:monospace;
      }

      @keyframes slide {
        0% {
          transform:translateX(0%); // where the animation ends in the ui
        }
        100% {
          transform:translateX(25%); // where the animation starts in the ui
        }
      }
